allow hal_bluetooth_qti qmuxd:unix_stream_socket connectto;
allow hal_bluetooth_qti qmuxd_socket:dir { add_name write };
allow hal_bluetooth_qti qmuxd_socket:sock_file { create write };
