allow mm-pp-daemon system_prop:property_service set;
allow mm-pp-daemon ion_device:chr_file write;
allow mm-pp-daemon property_socket:sock_file write;
